body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.App {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 5px;
  font-size: 16px;
  width: 450px;
  margin-right: 10px;
}

button {
  padding: 10px;
  border: 1px solid #919090;
  border-radius: 5px;
  font-size: 16px;
  background-color: #e0e0e0;
 
}

button:hover {
  background-color: #d0d0d0; 
}

.contact-list {

  padding: 0;
  margin-top: 20px;
}

.contact-list li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-list li button {
  border: 1px solid #000000;
  background-color: #e0e0e0;
}

.contact-list li button:hover {
  background-color: #d0d0d0;
}


@media (max-width: 768px) {
  .App {
    padding: 15px;
    max-width: 100%;
    margin: 10px;
  }

  .form input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }

  .contact-list li {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-list li button {
    width: 100%;
    margin-top: 5px;
  }
}



glow-on-hover {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000;
}

.glow-on-hover {
  width: 105px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}